@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/variables' as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--border);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0.03)
  );
}
.footerInner {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 12px;
  color: var(--muted);
  width: min(1200px, calc(100% - 2rem));

  .mobileHidden {
    display: none;

    @include respond($bp-lg) {
      display: inline-block;
    }
  }
}
