@use './../abstracts/mixins' as *;
@use './../abstracts/variables' as *;

html,
body,
#root {
  min-height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--gradient-primary);
  background-repeat: no-repeat;
  background-color: #000;
  color: var(--text);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
}
a:hover {
  text-decoration: underline;
}

input,
select,
textarea,
button {
  font: inherit;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid var(--border);
  border-radius: 12px;
  color: var(--text);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.45);
}

// button {
//   font-size: 1.2rem;
//   padding: 8px 14px;
//   border-radius: var(--radius);
//   border: 1px solid var(--border);
//   // background: linear-gradient(
//   //   180deg,
//   //   rgba(124, 92, 255, 0.95),
//   //   rgba(124, 92, 255, 0.75)
//   // );
//   color: white;
//   cursor: pointer;
//   // box-shadow: 0 10px 22px rgba(124, 92, 255, 0.22);

//   &:hover {
//     background: linear-gradient(
//       180deg,
//       rgba(124, 92, 255, 1),
//       rgba(124, 92, 255, 0.85)
//     );
//   }
// }

button:disabled {
  opacity: 0.55;
  cursor: not-allowed;
  box-shadow: none;
}

input,
select,
textarea {
  border-radius: var(--radius);
}

hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin: var(--space-4) 0;
}

.mobile-only {
  display: block;
  @include respond($bp-lg) {
    display: none;
  }
}

.contact-email-link {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
}
.contact-email-link:hover {
  text-decoration: underline;
}

// Firefox (still limited, but we can make it subtle)
// scrollbar-width: thin;
// scrollbar-color: transparent transparent;

// Chrome / Edge / Safari
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.06);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 999px;
  transition: background 0.25s ease;
}

// Reveal scrollbar only on hover/focus
// &:hover,
// &:focus-within {
//   scrollbar-color: var(--color-scrollbar-thumb) transparent;

//   &::-webkit-scrollbar-thumb {
//     background: var(--color-scrollbar-thumb);
//   }

//   &::-webkit-scrollbar-thumb:hover {
//     background: var(--color-scrollbar-thumb-hover);
//   }
// }

.mobile-hidden {
  display: none;

  @include respond($bp-lg) {
    display: inline-block;
  }
}
